<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 60vh;">
            <img class="w-100 h-100 object-fit-cover" src="~/landingpage/img/Carousel1.png" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center h-100">
                <div class="p-3 text-center" style="max-width: 800px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Tourism & Business</h5>
                    <h2 class="text-white mb-md-3 animated zoomIn">
                        The New Era of HACT — From Chamber to Action Ecosystem
                    </h2>
                    <a asp-page="/Contact" class="btn btn-outline-light py-2 px-4 animated slideInRight">Contact Us</a>
                </div>
            </div>
        </div>

@*         <div class="carousel-item" style="height: 60vh;">
            <img class="w-100 h-100 object-fit-cover" src="~/landingpage/img/carousel-2.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center h-100">
                <div class="p-3 text-center" style="max-width: 800px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Creative & Innovative</h5>
                    <h2 class="text-white mb-md-3 animated zoomIn">
                        Digital Solutions for Modern Travel
                    </h2>
                    <a asp-page="/Contact" class="btn btn-primary py-2 px-4 me-2 animated slideInLeft">Free Quote</a>
                    <a asp-page="/Contact" class="btn btn-outline-light py-2 px-4 animated slideInRight">Contact Us</a>
                </div>
            </div>
        </div> *@
    </div>

@*     <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button> *@
</div>
