<div class="container-fluid px-5 d-none d-lg-block" style="background-color:#334155;">
    <div class="row gx-0">
        <!-- 🗺 Left: Address / Contact -->
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">

        </div>

        <!-- 🌐 Right: Social Icons -->
        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height:45px;">


                <!-- Facebook -->
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                   href="https://www.facebook.com/profile.php?id=61561765930477&locale=el_GR" target="_blank"
                   style="color:#f0f2f5; border-color:#f0f2f5;">
                    <i class="fab fa-facebook-f fw-normal"></i>
                </a>

                <!-- LinkedIn -->
                <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
                   href="https://www.linkedin.com/company/hellenic-american-chamber-of-tourism/?viewAsMember=true" target="_blank"
                   style="color:#f0f2f5; border-color:#f0f2f5;">
                    <i class="fab fa-linkedin-in fw-normal"></i>
                </a>

            </div>
        </div>
    </div>
</div>
